#header {
  background-color: #263E53;
  border: 1px black;
  z-index: 1020;
  align-items: center;

  .header-nav-left {
    flex-grow: 1;
    min-width: 310px;
  }

  .header-nav-right {
    align-items: center;
  }
}
