<div id="header" class="flex-box-row navbar" ng-controller="headerController" (click)="menu.toggleDropdown($event)">
  <!-- begin mobile sidebar expand / collapse button -->
  <div>
    <a href="'http://intranet.dhs.nycnet:4444'" class="navbar-brand"><img src="assets/img/dss_logo_white_sm.png" alt="dhs_logo" width="190" height="33"></a>
    <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <!-- end mobile sidebar expand / collapse button -->

  <!-- begin navbar-collapse -->
  <!-- begin mega menu -->
  <div class="header-nav-left flex-box-row" id="top-navbar">
    <div class="dropdown" [ngClass]="headerMenu.main.container">
      <cd-menu-button [id]="headerMenu.main.menu.id" [name]="headerMenu.main.menu.header">
        <i [ngClass]="headerMenu.main.menu.icon"></i>
        {{headerMenu.main.menu.label}}
        <b class="caret"></b>
      </cd-menu-button>
      <cd-menu [classNames]="headerMenu.main.menu.id"
               [triggerBy]="headerMenu.main.menu.id">
        <div class="row">
          <div *ngFor="let submenu of headerMenu.main.items"
               [ngClass]="submenu.container"
               [ngSwitch]="submenu.type">

            <cd-menu-header [icon]="submenu.header.icon" [text]="submenu.header.text"></cd-menu-header>

            <div class="row" *ngSwitchCase="'list'">
              <cd-list classNames="nav">
                <cd-list-item [link]="item.href" *ngFor="let item of submenu.items">
                  <cd-icon class="fa fa-fw fa-lg fa-angle-right"
                           activeClass="fa-chevron-circle-right"
                           [activeUrl]="item.href"
                           cdActiveLocaton
                           cdTextInverse></cd-icon>
                  {{item.text}}
                  <cd-badge *ngIf="item.badge" [status]="item.badge.class" [value]="item.badge.value"></cd-badge>
                </cd-list-item>
              </cd-list>
            </div>

            <div class="row" *ngSwitchCase="'paragraph'">
              <p *ngFor="let item of submenu.items">
                {{item.text}}
              </p>
            </div>
          </div>
        </div>
      </cd-menu>
    </div>
    <!--<cd-menu [menu]="headerMenu.main" type="dropdown" ></cd-menu>-->
    <div>
      <a href="#" class="text-white ng-binding"><i class="fa fa-envelope-o"></i> Contact DSS OIT</a>
    </div>
  </div>
  <!-- end navbar-collapse -->
  <!-- ./end mega menu -->

  <!-- begin header navigation right -->
  <div class="header-nav-right flex-box-row">
    <!-- begin header global search -->
    <div>
      <form class="navbar-form full-width ng-pristine ng-valid">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Global Enter keyword">
          <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
        </div>
      </form>
    </div>
    <!-- ./end header global search -->

    <!--<cd-menu [menu]="headerMenu.notification" type="dropdown"></cd-menu>-->
    <!-- ngIf: setting.layout.pageLanguageBar === true -->

    <!--<cd-menu [menu]="headerMenu.language" type="dropdown"></cd-menu>-->
    <!--<cd-menu [menu]="headerMenu.user" type="dropdown"></cd-menu>-->
  </div>
  <!-- end header navigation right -->
</div>
