<div id="header" class="header navbar navbar-default" (click)="menu.toggleDropdown($event)">
  <div class="container-fluid">
    <!-- begin mobile sidebar expand / collapse button -->
    <div class="navbar-header">
      <!--<a href="http://intranet.dhs.nycnet:4444" class="navbar-brand">-->
      <a href="/" class="navbar-brand">
        <img src="assets/img/dss_logo_white_sm.png" alt="dhs_logo" width="190" height="33">
      </a>
      <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- end mobile sidebar expand / collapse button -->

    <!-- begin navbar-collapse -->
    <!-- begin mega menu -->
    <div class="collapse navbar-collapse" id="top-navbar" pull="left">
      <div class="nav navbar-nav">
        <div [ngClass]="headerMenu.main.container" dropdown>
          <dhs-menu-button [id]="headerMenu.main.menu.id"
                           [name]="headerMenu.main.menu.name"
                           className="text-white">
            <dhs-icon [icon]="headerMenu.main.menu.icon"
                     fixed="true"></dhs-icon>
            {{headerMenu.main.menu.label}}
            <b class="caret"></b>
          </dhs-menu-button>
          <dhs-menu [className]="headerMenu.main.menu.id"
                   [triggerBy]="headerMenu.main.menu.id">
            <div class="row">
              <div *ngFor="let submenu of headerMenu.main.items"
                   [ngClass]="submenu.container"
                   [ngSwitch]="submenu.type">

                <dhs-menu-header [icon]="submenu.header.icon" [text]="submenu.header.text"></dhs-menu-header>

                <div class="row" *ngSwitchCase="'list'">
                  <dhs-list nav-list>
                    <dhs-list-item *ngFor="let item of submenu.items" dhsCloseToggle>
                      <a [href]="item.href" class="text-ellipsis">
                        <dhs-icon [icon]="item.activeIcon ? item.activeIcon : 'angle-right'"
                                 size="lg"
                                 fixed="true"
                                 dhsTextInverse></dhs-icon>
                        {{item.text}}
                        <dhs-badge *ngIf="item.badge" [status]="item.badge.class">{{item.badge.value}}</dhs-badge>
                      </a>
                    </dhs-list-item>
                  </dhs-list>
                </div>
                <div *ngSwitchCase="'paragraph'">
                  <p *ngFor="let item of submenu.items">
                    {{item.text}}
                  </p>
                </div>
              </div>
            </div>
          </dhs-menu>
        </div>
         <div>
          <a href="#" class="text-white ng-binding"><i class="fa fa-envelope-o"></i> Contact DSS OIT</a>
        </div>
      </div>
    </div>
    <!-- end navbar-collapse -->
    <!-- ./end mega menu -->

    <!-- begin header navigation right -->
    <div class="nav navbar-nav navbar-right">
      <!-- begin header global search -->
      <div>
        <form class="navbar-form full-width ng-pristine ng-valid">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Global Enter keyword">
            <button type="submit" class="btn btn-search">
              <dhs-icon icon="search"></dhs-icon>
            </button>
          </div>
        </form>
      </div>
      <!-- ./end header global search -->

      <div dropdown [ngClass]="headerMenu.notification.container">
        <dhs-menu-button [id]="headerMenu.notification.menu.id" [name]="headerMenu.notification.menu.name"
                         className="text-white f-s-14">
          <dhs-icon [icon]="headerMenu.notification.menu.icon"></dhs-icon>
          <span class="label">4</span>
        </dhs-menu-button>
        <dhs-menu [className]="headerMenu.notification.menu.id + ' animated fadeInDown'"
                 [triggerBy]="headerMenu.notification.menu.id" pull="right">
          <li class="dropdown-header">Notification ({{headerMenu.notification.items.length}})</li>
          <!--<dhs-menu-item className="dropdown-header">Notification (4)</dhs-menu-item>-->
          <dhs-menu-item class="media"
                        [link]="item.link"
                        *ngFor="let item of headerMenu.notification.items">
            <div class="media-left">
              <dhs-icon *ngIf="!item.icon.thumbnail"
                       class="media-object" icon="warning" [color]="item.icon.background"></dhs-icon>
              <img *ngIf="item.icon.thumbnail"
                   [src]="item.icon.thumbnail" class="media-object" alt="">
            </div>
            <div class="media-body">
              <h6 class="media-heading">{{item.text}}</h6>
              <p *ngIf="item.description">{{item.description}}</p>
              <div class="text-muted f-s-11">{{item.timestamp}} ago</div>
            </div>
          </dhs-menu-item>
          <!-- Todo: hover and focus is not same as original UI design -->
          <dhs-menu-item class="dropdown-footer text-center" [link]="'javscript:'">View more</dhs-menu-item>
        </dhs-menu>
      </div>

      <!-- ngIf: setting.layout.pageLanguageBar === true -->
      <!-- Todo: ng-if="setting.layout.pageLanguageBar === true" -->
      <div dropdown [ngClass]="headerMenu.language.container">
        <dhs-menu-button [id]="headerMenu.language.menu.id" [name]="headerMenu.language.menu.name">
          <dhs-icon [ngClass]="headerMenu.language.selected.icon"
                   [title]="headerMenu.language.selected.title"></dhs-icon>
          <span class="name text-white">{{headerMenu.language.selected.text}}</span>
          <b class="caret text-white"></b>
        </dhs-menu-button>
        <dhs-menu [className]="headerMenu.language.menu.id + ' animated fadeInRight p-b-0'"
                 [triggerBy]="headerMenu.language.menu.id">
          <!-- Todo: what does this arrow class list item do? -->
          <li class="arrow"></li>
          <!-- Todo: when app setting is ready onClick function to menu item to change language setting -->
          <dhs-menu-item *ngFor="let item of headerMenu.language.items">
            <dhs-icon [ngClass]="item.icon" [title]="item.title"></dhs-icon>
            {{item.text}}
          </dhs-menu-item>
          <li class="divider m-b-0"></li>
          <li class="text-center"><a href="javascript:"><i class="fa fa-sliders"></i> More Options</a></li>
        </dhs-menu>
      </div>

      <div dropdown [ngClass]="headerMenu.user.container">
        <dhs-menu-button [id]="headerMenu.user.menu.id" [name]="headerMenu.user.menu.name" className="flex-box-row">
          <img [src]="(userProfile$ | async)" alt="user-rbs" width="128" height="128" *ngIf="userProfile$ | async">
          <span class="hidden-xs text-white">{{userName$ | async}}</span>
          <b class="caret text-white"></b>
        </dhs-menu-button>
        <!-- Todo: make directive to handle animate features -->
        <dhs-menu [className]="headerMenu.user.menu.id + ' animated fadeInLeft'"
                 [triggerBy]="headerMenu.user.menu.id">
          <!-- Todo: what does this arrow class list item do? -->
          <li class="arrow"></li>
          <dhs-menu-item *ngFor="let item of headerMenu.user.items" [link]="item.link">
            <dhs-icon [icon]="item.icon"></dhs-icon>
            {{item.text}}
            <dhs-badge *ngIf="item.badge"
                      [status]="item.badge.class"
                      pull="right">{{item.badge.value}}</dhs-badge>
          </dhs-menu-item>
          <li class="divider"></li>
          <li>
            <!-- Directive for logout -->
            <a logout-btn dhsCloseToggle
               [routerLink]="['login']"
               class="ng-binding logout">
              <i class="fa fa-sign-out"></i> Log Out of CapApp
            </a>
          </li>
        </dhs-menu>
      </div>

    </div>
    <!-- end header navigation right -->
  </div>
</div>
