/* Nav Setting */

.nav > cd-list-item > li > a:hover,
.nav > cd-list-item > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}

.nav > cd-list-item > li > a {
  color: #6e7179;
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav > cd-list-item > li > a:hover,
.nav > cd-list-item > li > a:focus {
  color: #333;
  background: #fafafa;
}

.dropdown-menu.dropdown-menu-lg .nav > cd-list-item > li > a {
  padding: 0;
  background: none;
  line-height: 24px;
}
