<label [for]="for"
       [ngClass]="label.class"
       [ngSwitch]="label.type"
        class="dropdown-toggle text-white">

  <cd-default-menu-label    *ngSwitchCase="'default'"
                            [label]="label"></cd-default-menu-label>

  <cd-mini-menu-label       *ngSwitchCase="'mini'"
                            [label]="label"></cd-mini-menu-label>

  <cd-item-menu-label       *ngSwitchCase="'item'"
                            [label]="label"></cd-item-menu-label>

  <cd-thumbnail-menu-label  *ngSwitchCase="'thumbnail'"
                            [label]="label"></cd-thumbnail-menu-label>

</label>
