<div class="app" (click)="onClickApp()">
  <div *ngIf="token$ | async"
       class="app-header">
    <cd-header [isToggled]="isToggled$"
               [selectedDropdown]="selectedDropdown$"></cd-header>
  </div>
  <div class="app-section">
    <div *ngIf="token$ | async"
         class="app-nav">
      <cd-sidebar [version]="version$"
                  [loading]="loading$"
                  [error]="error$"></cd-sidebar>
    </div>
    <div class="app-content">
      <div [hidden]="!(token$ | async) && !((route$ | async) === '/login')"
           id="content"
           class="content">
        <router-outlet></router-outlet>
      </div>

    </div>
  </div>
</div>
