<!-- begin #sidebar -->
<div id="sidebar" class="sidebar" [ngClass]="{'page-sidebar-minified': sidebarMinimized }">

  <!-- begin sidebar scrollbar -->
  <div data-scrollbar="true" data-height="100%">

    <!-- begin sidebar nav -->
    <ul class="nav">

      <li class="nav-profile">
        <div class="info">
          {{agencyTitle}} {{appShTitle}}
          <small>{{appTitle}}</small>
          <small>Version: {{version | async}}</small>
        </div>
      </li>

      <!-- BEGIN SIDEBAR ITEMS -->
      <div *ngFor="let item of sidebarItems" class="sidebar-item">
        <!-- MENU -->
        <li *ngIf="item.menu"
            class="has-sub"
            routerLinkActive="active"
            (click)="expandedMenu = item.menu.id"
            [ngClass]="{'expand': expandedMenu.startsWith(item.menu.id)}">
          <a>
            <b class="caret" pull="right"></b>
            <dhs-badge *ngIf="item.menu.badge" pull="right">{{item.menu.badge.value}}</dhs-badge>
            <dhs-icon [icon]="item.menu.icon"></dhs-icon>
            <span>{{item.menu.label}}</span>
          </a>
          <dhs-list class="sub-menu">
            <dhs-list-item *ngFor="let subItem of item.items"
                           routerLinkActive="active">
              <a *ngIf="subItem.link" [routerLink]="subItem.link">
                <dhs-badge *ngIf="subItem.badge" pull="left">{{subItem.badge.value}}</dhs-badge>
                <span *ngIf="subItem.text">{{subItem.text}}</span>
              </a>

              <!-- IF third level submenu -->

              <li *ngIf="subItem.menu"
                  class="has-sub"
                  routerLinkActive="active"
                  (click)="$event.stopPropagation(); expandedMenu = subItem.menu.id"
                  [ngClass]="{'expand': expandedMenu === subItem.menu.id }">
                <a><b class="caret" pull="right"></b>{{subItem.menu.label}}</a>
                <dhs-list class="sub-menu">
                  <dhs-list-item *ngFor="let subSubItem of subItem.items"
                                 routerLinkActive="active">
                    <a [routerLink]="subSubItem.link">
                      <span>{{subSubItem.text}}</span>
                    </a>
                  </dhs-list-item>
                </dhs-list>
              </li>
            </dhs-list-item>
          </dhs-list>
        </li>

        <!-- ITEM -->
        <dhs-list-item *ngIf="!item.menu"
                       routerLinkActive="active">
          <a [routerLink]="item.link">
            <dhs-icon [icon]="item.icon"></dhs-icon> <span>{{item.label}}</span>
          </a>
        </dhs-list-item>
      </div>
      <!-- END SIDEBAR ITEMS -->

      <!-- begin sidebar minify button -->
      <li>
        <a href="javascript:"
           (click)="sidebarMinimized = !sidebarMinimized;"
           class="sidebar-minify-btn">
          <i class="fa fa-angle-double-left"></i>
        </a>
      </li>

      <!-- end sidebar minify button -->
    </ul>
    <!-- end sidebar nav -->
  </div>
  <!-- end sidebar scrollbar -->
</div>
<!-- end #sidebar -->
