<!-- begin #sidebar -->
<div id="sidebar" class="sidebar" [ngClass]="{'page-sidebar-minified': sidebarMinimized }">

  <!-- begin sidebar scrollbar -->
  <div data-scrollbar="true" data-height="100%">

    <!-- begin sidebar nav -->
    <ul class="nav">

      <li class="nav-profile">
        <div class="info">
          {{agencyTitle}} {{appShTitle}}
          <small>{{appTitle}}</small>
          <small>Version: {{version | async}}</small>
        </div>
      </li>

      <!-- ================== 01.0 Dashboard ======================= -->
      <li class="has-sub"
          routerLinkActive="active"
          (click)="expandedMenu = sidebarMenu.dashboards.menu.id"
          [ngClass]="{'expand': expandedMenu === sidebarMenu.dashboards.menu.id }">
        <dhs-menu-button [id]="sidebarMenu.dashboards.menu.id" [name]="sidebarMenu.dashboards.menu.name">
          <b class="caret pull-right"></b>
          <dhs-icon [icon]="sidebarMenu.dashboards.menu.icon"></dhs-icon>
          <span>{{sidebarMenu.dashboards.menu.label}}</span>
        </dhs-menu-button>
        <dhs-menu class="sub-menu">
          <dhs-menu-item routerLinkActive="active"
                         [link]="item.link"
                         *ngFor="let item of sidebarMenu.dashboards.items">
            <span>{{item.text}}</span>
          </dhs-menu-item>
        </dhs-menu>
      </li>

      <!-- ================== 02.0 Units ========================= -->
      <li class="has-sub"
          routerLinkActive="active"
          (click)="expandedMenu = sidebarMenu.units.menu.id"
          [ngClass]="{'expand': expandedMenu === sidebarMenu.units.menu.id }">
        <dhs-menu-button>
          <b class="caret pull-right"></b>
          <dhs-badge [value]="sidebarMenu.units.menu.badge.value" [right]="true"></dhs-badge>
          <dhs-icon [icon]="sidebarMenu.units.menu.icon"></dhs-icon>
          <span>{{sidebarMenu.units.menu.label}}</span>
        </dhs-menu-button>
        <dhs-menu class="sub-menu">
          <dhs-menu-item *ngFor="let item of sidebarMenu.units.items"
                          routerLinkActive="active"
                          [link]="item.link">
            <dhs-badge [value]="item.badge.value" class="pull-left"></dhs-badge>
            <span>{{item.text}}</span>
          </dhs-menu-item>
        </dhs-menu>
      </li>

      <!-- ================== 03.0 Edit Demand & Projections ======================= -->
      <dhs-menu-item routerLinkActive="active"
                     [link]="sidebarMenu.demand.link">
        <dhs-icon [icon]="sidebarMenu.demand.icon"></dhs-icon> <span>{{sidebarMenu.demand.label}}</span>
      </dhs-menu-item>

      <!-- ================== 04.0 IVC ============================================= -->
      <dhs-menu-item routerLinkActive="active"
                     [link]="sidebarMenu.intake.link">
        <dhs-icon [icon]="sidebarMenu.intake.icon"></dhs-icon> <span>{{sidebarMenu.intake.label}}</span>
      </dhs-menu-item>

      <!-- ================== 05.0 Reports ======================================== -->
      <li class="has-sub"
          routerLinkActive="active"
          (click)="expandedMenu = sidebarMenu.reports.menu.id"
          [ngClass]="{'expand': expandedMenu === sidebarMenu.reports.menu.id }">
        <dhs-menu-button>
          <b class="caret pull-right"></b>
          <dhs-icon [icon]="sidebarMenu.reports.menu.icon"></dhs-icon>
          <span>{{sidebarMenu.reports.menu.label}}</span>
        </dhs-menu-button>
        <dhs-menu class="sub-menu">
          <dhs-menu-item *ngFor="let item of sidebarMenu.reports.items">
            <dhs-link *ngIf="item.link" [path]="item.link">
              {{item.text}}
            </dhs-link>
            <dhs-menu-button *ngIf="item.menu"
                             class="has-sub"
                             routerLinkActive="active"
                             (click)="$event.stopPropagation(); expandedMenu = item.menu.id"
                             [ngClass]="{'expand': expandedMenu === item.menu.id }">
              <b class="caret pull-right"></b> <span>{{item.menu.label}}</span>
              <dhs-menu class="sub-menu">
                <dhs-menu-item *ngFor="let subItem of item.menu.items"
                               routerLinkActive="active"
                               [link]="subItem.link">
                  <span>{{subItem.text}}</span>
                </dhs-menu-item>
              </dhs-menu>
            </dhs-menu-button>
          </dhs-menu-item>
        </dhs-menu>
      </li>

      <!-- ================== 09.0 App Settings ===================================== -->
      <li class="has-sub"
          routerLinkActive="active"
          (click)="expandedMenu = sidebarMenu.settings.menu.id"
          [ngClass]="{'expand': expandedMenu === sidebarMenu.settings.menu.id }">
        <dhs-menu-button>
          <b class="caret pull-right"></b>
          <dhs-icon [icon]="sidebarMenu.settings.menu.icon"></dhs-icon>
          <span>{{sidebarMenu.settings.menu.label}}</span>
        </dhs-menu-button>
        <dhs-menu class="sub-menu">
          <dhs-menu-item *ngFor="let item of sidebarMenu.settings.items"
                         routerLinkActive="active"
                         [link]="item.link">
            {{item.text}}
          </dhs-menu-item>
        </dhs-menu>
      </li>

      <!-- ================== 10.0 App Help ======================================= -->
      <li class="has-sub"
          routerLinkActive="active"
          (click)="expandedMenu = sidebarMenu.help.menu.id"
          [ngClass]="{'expand': expandedMenu === sidebarMenu.help.menu.id }">
        <dhs-menu-button>
          <b class="caret pull-right"></b>
          <dhs-icon [icon]="sidebarMenu.help.menu.icon"></dhs-icon>
          <span>{{sidebarMenu.help.menu.label}}</span>
        </dhs-menu-button>
        <dhs-menu class="sub-menu">
          <dhs-menu-item *ngFor="let item of sidebarMenu.help.items"
                         routerLinkActive="active"
                         [link]="item.link">
            {{item.text}}
          </dhs-menu-item>
        </dhs-menu>
      </li>

      <!-- begin sidebar minify button -->
      <li>
        <a href="javascript:"
           (click)="sidebarMinimized = !sidebarMinimized;"
           class="sidebar-minify-btn">
          <i class="fa fa-angle-double-left"></i>
        </a>
      </li>

      <!-- end sidebar minify button -->
    </ul>
    <!-- end sidebar nav -->
  </div>
  <!-- end sidebar scrollbar -->
</div>
<!-- end #sidebar -->
