<!-- begin #sidebar -->
<div id="sidebar" class="sidebar" [ngClass]="{'page-sidebar-minified': sidebarMinimized }">

  <!-- begin sidebar scrollbar -->
  <div data-scrollbar="true" data-height="100%">

    <!-- begin sidebar nav -->
    <ul class="nav">

      <li class="nav-profile">
        <div class="info">
          {{agencyTitle}} {{appShTitle}}
          <small>{{appTitle}}</small>
          <small>Version: {{version | async}}</small>
        </div>
      </li>

      <!-- BEGIN SIDEBAR ITERATOR -->
      <li *ngFor="let item of sidebarItems">
        <!-- MENU -->
        <dhs-menu-item *ngIf="item.menu"
                       class="has-sub"
                       routerLinkActive="active"
                       (click)="expandedMenu = item.menu.id"
                       [ngClass]="{'expand': expandedMenu === item.menu.id}">
          <a>
            <b class="caret pull-right"></b>
            <dhs-badge *ngIf="item.menu.badge" [value]="item.menu.badge.value" [right]="true"></dhs-badge>
            <dhs-icon [icon]="item.menu.icon"></dhs-icon>
            <span>{{item.menu.label}}</span>
          </a>
          <dhs-menu class="sub-menu">
            <dhs-menu-item *ngFor="let subItem of item.items"
                           routerLinkActive="active"
                           [link]="subItem.link ? subItem.link : ':javascript'">
              <dhs-badge *ngIf="subItem.badge" [value]="subItem.badge.value" class="pull-left"></dhs-badge>
              <span *ngIf="subItem.text">{{subItem.text}}</span>

              <!-- If third level submenu -->

              <li *ngIf="subItem.menu"
                  class="has-sub"
                  routerLinkActive="active"
                  (click)="$event.stopPropagation(); expandedMenu = subItem.menu.id"
                  [ngClass]="{'expand': expandedMenu === subItem.menu.id }">
                <a><b class="caret pull-right"></b>{{subItem.menu.label}}</a>
                <dhs-menu class="sub-menu">
                  <dhs-menu-item *ngFor="let subSubItem of subItem.items"
                                 routerLinkActive="active"
                                 [link]="subSubItem.link">
                    <span>{{subSubItem.text}}</span>
                  </dhs-menu-item>
                </dhs-menu>
              </li>
            </dhs-menu-item>
          </dhs-menu>
        </dhs-menu-item>

        <!-- ITEM -->
        <dhs-menu-item *ngIf="!item.menu"
                       routerLinkActive="active"
                       [link]="item.link">
          <dhs-icon [icon]="item.icon"></dhs-icon> <span>{{item.label}}</span>
        </dhs-menu-item>
      </li>
      <!-- END SIDEBAR ITERATOR -->

      <!-- begin sidebar minify button -->
      <li>
        <a href="javascript:"
           (click)="sidebarMinimized = !sidebarMinimized;"
           class="sidebar-minify-btn">
          <i class="fa fa-angle-double-left"></i>
        </a>
      </li>

      <!-- end sidebar minify button -->
    </ul>
    <!-- end sidebar nav -->
  </div>
  <!-- end sidebar scrollbar -->
</div>
<!-- end #sidebar -->
