<!-- begin login -->
<div class="login login-with-news-feed">
  <!-- begin news-feed -->
  <div class="news-feed">
    <div class="news-image">
      <img src="../../../assets/img/login-bg/bg-1.jpg" data-id="login-cover-image" alt="" />
    </div>
    <div class="news-caption">
      <img src="../../../assets/img/login-bg/bg-1-pitch.jpg" alt="bg-1-pitch" width="90%" height="90%" />
    </div>
  </div>
  <!-- end news-feed -->
  <!-- begin right-content -->
  <div class="right-content">
    <!-- begin login-header -->
    <div class="login-header">
      <div class="brand">
        <img src="../../../assets/img/dhs_logo_blue.png" alt="dhs_logo_blue" width="65%" height="65%" />
        <small>DHS Buildings Compliance System</small>
      </div>
      <div class="icon">
        <i class="fa fa-sign-in"></i>
      </div>
    </div>
    <!-- end login-header -->
    <!-- begin login-content -->
    <dhs-login ngClass="login-content"></dhs-login>
    <!-- end login-content -->
  </div>
  <!-- end right-container -->
</div>
<!-- end login -->
dhs-common-module/src/lib
