<div [class.dropdown]="menu.type == 'dropdown'"
     [ngClass]="menu.container.class">

  <cd-menu-label  [for]="menu.button.id"
                  [label]="menu.label"></cd-menu-label>

  <!-- menu button component -->
  <input type="radio" class="radio-hack" name="header"
        [id]="menu.button.id"
        (click)="toggleDropdown($event)">

  <!-- large size dropdown begins -->
    <div  [class.dropdown-menu]="menu.type == 'dropdown'"
          [ngClass]="menu.itemWrapper.class"
          *ngIf="menu.size && (menu.size === 'large')">
      <div class="row">
        <div *ngFor="let submenu of menu.submenu"
            [class]="submenu.class">
          <h4 class="dropdown-header">
            <i [class]="submenu.icon"></i>
            {{submenu.name}}
          </h4>

          <div class="row"
            *ngIf="submenu.itemsType === 'list-item'">
            <ul class="nav">
              <li *ngFor="let item of submenu.items">
                <a [href]="item.link" class="text-ellipsis text-black">
                  <i class="fa fa-fw fa-lg text-inverse"
                     [class.fa-chevron-circle-right]="currentLocation.origin == item.link"
                     [class.fa-angle-right]="currentLocation.origin != item.link"></i>
                  {{item.name}}
                  <!-- badge -->
                  <span *ngIf="(item.badge) && (item.badge == 'update')" class="badge badge-success">UPDATE</span>
                </a>
              </li>
            </ul>
          </div>

          <div
            *ngIf="submenu.itemsType === 'paragraph'">
            <p *ngFor="let item of submenu.items">
              {{item.name}}
            </p>
          </div>
        </div>
      </div>
    </div>
  <!-- large size dropdown ends -->

  <!-- notification dropdown begins -->
    <ul [class.dropdown-menu]="menu.type === 'dropdown'"
        [ngClass]="menu.itemWrapper.class"
        *ngIf="(!menu.size || (menu.size === 'small')) && (menu.items.type === 'notification')">

      <li class="dropdown-header">
        Notifications {{menu.items.list.length}}
      </li>

      <li *ngFor="let item of menu.items.list" class="media">
        <a [href]="item.link.href">
          <div class="media-left">
            <i *ngIf="!item.icon.src"
              [ngClass]="item.icon.class"></i>
            <img *ngIf="item.icon.src"
                [src]="item.icon.src"
                class="media-object"
                alt="" />
          </div>

          <div class="media-body">
            <h6 class="media-heading">{{item.body.heading.value}}</h6>
            <p *ngIf="item.body.text.value">{{item.body.text.value}}</p>
            <div class="text-muted f-s-11">{{item.body.time.value}}</div>
          </div>
        </a>
      </li>

      <li class="dropdown-footer text-center">
        <a href="javascript:">View more</a>
      </li>
    </ul>
  <!-- notification dropdown ends -->

  <!-- language dropdown menu begins -->
    <ul [class.dropdown-menu]="menu.type === 'dropdown'"
        [ngClass]="menu.itemWrapper.class"
        *ngIf="(!menu.size || (menu.size === 'small')) && (menu.items.type === 'item')">
      <li *ngFor="let item of menu.items.list">
        <a [href]="item.link.href">
          <span [ngClass]="item.icon.class"></span>
          {{item.text.value}}
        </a>
      </li>
      <li class="divider m-b-0"></li>
      <li class="text-center">
        <a href="javascript:"><i class="fa fa-sliders"></i>
        More Options</a>
      </li>
    </ul>
  <!-- language dropdown menu ends -->
</div>
